<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="xacro '$(find trikey)/urdf/trikey_light.urdf.xacro'"/>
    <!-- <param name= "robot_description" textfile='$(find trikey)/urdf/trikey_light_new.urdf' /> -->

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
    <remap from="/trikey_light/joint_states" to="/joint_states"/>
    <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" /> -->


    <include file="$(find trikey)/world/trikey_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>

    </include>
    
    <node name="spawning_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model trikey_light -param robot_description"/>
    <rosparam file="$(find trikey)/config/joint_controller.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" respawn="false" ns="/trikey_light"
      args="joint_state_controller wheel_joint_effort_controller_1 wheel_joint_effort_controller_2 wheel_joint_effort_controller_3" />  


</launch>